:root{

   /* --clr1: #ca7c4e;
    --clr2: #FFEBC9;*/

    --clr1: #F5EFE6;
    --clr2:#BA3B0A;
    --clr3: rgba(255, 204, 102, 0.634);
    --clr4:rgb(42, 40, 42);
}



body{
    margin: 0;
    padding: 0;
    font-family: montserrat;
    background-color: var(--clr1);
    background-image: url(../assets/images/wp4.jpeg);
    
    
}




/*NAVIGATION BAR STYLES*/
#navigation{
    height: 120px;
    padding: 0px 60px;
    background-color: var(--clr2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 999;
    font-family: "Courgette",cursive;
    
}

#navigation .item {
    
    display: flex;
    align-items: center;
}
  

#navigation .item:last-child {
    justify-content: flex-end;
}


#navigation .text a{
    margin-left: 20px;
    color: var(--clr1);
    font-size: 20px;
    text-decoration: none;
    
}
  

#navigation .item:last-child .text:last-child a {
    font-size: 30px;
    font-weight: bold;
}
  

#navigation .list {
    padding: 0;
    display: flex;
    align-items: center;
    list-style: none;
    color: white;
}
  

#navigation .list-item {
    margin: 20px;
    font-weight: 800;
    
}

#contact-form
{
    margin-top: 9%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    
    border-radius: 10px;
}

#contact-form h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: 700;
    padding : 0 0 20px 0;
    color: var(--clr3);
}

#contact-form form{

    padding:0 40px;
    box-sizing: border-box;
}

form .txt_field{

    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.txt_field input,textarea{

    width:100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: var(--clr1);
    
}

.txt_field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.txt_field span::before{

    content: '';
    position: absolute;
    top: 40px;
    left:0;
    width: 100%;
    height: 2px;
    background: var(--clr2);
    transition: .5s;
}

input[type="submit"]{


    width: 100%;
    height:50px;
    border: 1px solid;
    background-color: var(--clr3);
    cursor: pointer;
    border-radius: 10px;
    font-size: medium;
    font-weight: 500;

}

/* FOOTER PART  */
footer{

    position: relative;
    top:50rem;
    height: 200px;
    background-color: var(--clr4);
    bottom:0

}

footer div{

    position: absolute;
    text-align: center;
    top: 35%;
    left: 5%;

}

footer span{
    position: absolute;
    top: -5%;
    left: 46%;
    color: var(--clr1);
    text-decoration: underline;
}

.form-radio{

    background-color: var(--clr1);
    padding:12px;
    border-radius: 5px;
    border-bottom: 3px solid var(--clr2);

}