body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}




/*NAVIGATION BAR STYLES*/
#navigation{
    height: 120px;
    padding: 0px 60px;
    background-color: #d1411e;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 999;
    font-family: "Courgette",cursive;
    
}

#navigation .item {
    
    display: flex;
    align-items: center;
}
  

#navigation .item:last-child {
    justify-content: flex-end;
}


#navigation .text a{
    margin-left: 20px;
    color: white;
    font-size: 20px;
    text-decoration: none;
    
}
  

#navigation .item:last-child .text:last-child a {
    font-size: 30px;
    font-weight: bold;
}
  

#navigation .list {
    padding: 0;
    display: flex;
    align-items: center;
    list-style: none;
    color: white;
}
  

#navigation .list-item {
    margin: 20px;
    font-weight: 500;
    
}



#middle-layer{

    height: 100rem;
}
#con1{
    background-color: rgb(145, 255, 244);
    height: 50em;
    
    
}

#con2{
    height: 15rem;
    background-color: rgb(255, 167, 221);
}