:root{

    /* --clr1: #ca7c4e;
      --clr2: #FFEBC9;*/
  
      --clr1: #F5EFE6;
      --clr2:#BA3B0A;
      --clr3: rgba(255, 204, 102, 0.634);
      --clr4:rgb(42, 40, 42);
  }

  /*NAVIGATION BAR STYLES*/
  #navigation{
    height: 120px;
    padding: 0px 60px;
    background-color: var(--clr2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 999;
    font-family: "Courgette",cursive;
    
}

#navigation .item {
    
    display: flex;
    align-items: center;
}
  

#navigation .item:last-child {
    justify-content: flex-end;
}


#navigation .text a{
    margin-left: 20px;
    color: var(--clr1);
    font-size: 20px;
    text-decoration: none;
    
}
  

#navigation .item:last-child .text:last-child a {
    font-size: 30px;
    font-weight: bold;
}
  

#navigation .list {
    padding: 0;
    display: flex;
    align-items: center;
    list-style: none;
    color: white;
}
  

#navigation .list-item {
    margin: 20px;
    font-weight: 800;
    
}